metadata:
  name: ${project.artifactId}-configmap
data:
  application.yml: |-
    application:
      poller:
        symbols:
          - "IBM"
      weaviate:
        host: "weaviate.weaviate"
        port: 80
        grpc-host: "weaviate-grpc.weaviate"
        grpc-port: 50051
        headers:
          "X-OpenAI-Api-key": "${APPLICATION_WEAVIATE_OPENAI_API_KEY}"
          "X-Huggingface-Api-key": "${APPLICATION_WEAVIATE_HUGGINGFACE_API_KEY}"
        schema:
          vectorizer: "text2vec-huggingface"
          module-config:
            text2vec-huggingface:
              options:
                waitForModel: true
            generative-openai:
                model: "gpt-4"
