metadata:
  name: ${project.artifactId}-configmap
data:
  application.yml: |-
    application:
      poller:
        symbols:
          - "IBM"
      weaviate:
        host: "weaviate.weaviate"
        port: 80
        grpc-host: "weaviate-grpc.weaviate"
        grpc-port: 50051
        schema:
          initialize: true
          drop-if-exists: false
          vectorizer-module: "text2vec-ollama"
          vectorizer-module-config:
            apiEndpoint: "http://ollama.ollama:80"
            model: "all-minilm"
          generative-module: "generative-ollama"
          generative-module-config:
            apiEndpoint: "http://ollama.ollama:80"
            model: "granite3.3:latest"
