metadata:
  name: ${project.artifactId}-secret
data:
  application.s3.access-key: ""
  application.s3.secret-key: ""
  application.alpha-vantage.api-key: ""
  application.weaviate.api-key: ""
  application.weaviate.openai-api-key: ""
  application.weaviate.huggingface-api-key: ""
